<div class="sidebar-wrapper">
  <ul class="sidebar-nav list-unstyled">
    <li class="menu-header">Menu</li>
    <li>
      <%= link_to "Profile", profile_path %>
    </li>
    <li>
      <%= link_to 'Projects', '/projects' %>
    </li>
    <li>
      <%= link_to 'Tasks', "/tasks" %>
    </li>
  </ul>
</div>