<div class="top row">
  <div class="col-md-10 col-md-offset-1">
    <div class="content">
      <div class="content-header">
        <span>Profile</span>
      </div>
      <ul class="content-nav list-inline">
      </ul>
      <div class="content-body">
        <%= render "user_info", user: current_user %>
      </div>
    </div>
  </div>
</div>