<div class="top row">
  <div class="col-md-10 col-md-offset-1">
    <div class="content">
      <div class="content-header">
        <span class="header">Tasks</span>
      <ul class="content-nav list-inline">
      </ul>
      <div class="content-body">
        
      </div>
    </div>
  </div>
</div>