<div class="top row">
  <div class="col-md-10 col-md-offset-1">
    <div class="content">
      <div class="content-header">
        <span class="header">Tasks</span>
      </div>
      <div class="content-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <% current_user.tasks.order("completed ASC").order("due_on ASC").each do |task| %>
            <% if !task.completed %>
              <%= render "tasks/task_only", project: task.project, task: task %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
