<div class="top row">
  <div class="col-md-4 col-md-offset-4">
  <div class="form-container">
    <div class="form-header">
      <span>Register</span>
    </div>
    <div class="form-body">
      <%= render "form" %>
    </div>
    <div class="text-center log-reg-message">
      <span>Already have an account? <%= link_to "Login", "/login" %> now!</span>
    </div>
  </div>
</div>