<div class="top row">
  <div class="col-md-4 col-md-offset-4">
  <div class="form-container">
    <div class="form-header">
      <span>Register</span>
    </div>
    <div class="form-body">
      <%= render "form" %>
      <span class="pull-left log-reg-message text-left">Have an account? <%= link_to "Login", "/login" %> now!</span>
      <div class="clearfix"></div>
    </div>
  </div>
</div>